<div class="col-md-12">
  <div class="container">

  <div class="form">
    <div class="card">
      <h6 class="m-lg-3"><b>Register</b></h6>
      <div class="card-body">
        <div class="form-group ms-5">
          <label>Handle (Name) <span style="color: red">*</span></label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <span class="text-danger"
                *ngIf="(f['name'].touched || submitted) && f['name'].errors?.['required']">
                Required
              </span>

        </div>

        <div class="form-group ms-5">
          <label>Email <span style="color: red">*</span></label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <span class="text-danger"
                *ngIf="(f['name'].touched || submitted) && f['name'].errors?.['required']">
                Required
              </span>

        </div>

        <div class="form-group ms-5">
          <label>Password <span style="color: red">*</span></label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <span class="text-danger"
                *ngIf="(f['name'].touched || submitted) && f['name'].errors?.['required']">
                Required
              </span>

        </div>

        <div class="form-group ms-5">
          <label>Role</label>
          <input
            type="text"
            formControlName="Role"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <span class="text-danger"
                *ngIf="(f['name'].touched || submitted) && f['name'].errors?.['required']">
                Required
              </span>

        </div>

        <div class="mb-3 form-group ms-5">
          <label>Town of Residence <span style="color: red">*</span></label>
          <input
            type="text"
            formControlName="town"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <span class="text-danger"
                *ngIf="(f['name'].touched || submitted) && f['name'].errors?.['required']">
                Required
              </span>
        </div>
          <button class="btn btn-dark ms-5" style="background-color: #033e3e">Register</button>
        <div>
          <a class="mt-2 ms-5 login"><i>I already have an account.</i></a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="form">-->

<!--  <ul class="tab-group">-->
<!--    <li class="tab active"><a href="#signup">Sign Up</a></li>-->
<!--    <li class="tab"><a href="#login">Log In</a></li>-->
<!--  </ul>-->

<!--  <div class="tab-content">-->
<!--    <div id="signup">-->
<!--      <h1>Sign Up for Free</h1>-->

<!--      <form action="/" method="post">-->

<!--        <div class="top-row">-->
<!--          <div class="field-wrap">-->
<!--            <label>-->
<!--              First Name<span class="req">*</span>-->
<!--            </label>-->
<!--            <input type="text" required autocomplete="off" />-->
<!--          </div>-->

<!--          <div class="field-wrap">-->
<!--            <label>-->
<!--              Last Name<span class="req">*</span>-->
<!--            </label>-->
<!--            <input type="text"required autocomplete="off"/>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="field-wrap">-->
<!--          <label>-->
<!--            Email Address<span class="req">*</span>-->
<!--          </label>-->
<!--          <input type="email"required autocomplete="off"/>-->
<!--        </div>-->

<!--        <div class="field-wrap">-->
<!--          <label>-->
<!--            Set A Password<span class="req">*</span>-->
<!--          </label>-->
<!--          <input type="password"required autocomplete="off"/>-->
<!--        </div>-->

<!--&lt;!&ndash;        <button type="submit" class="button button-block"/>Get Started</button>&ndash;&gt;-->

<!--      </form>-->

<!--    </div>-->

<!--    <div id="login">-->
<!--      <h1>Welcome Back!</h1>-->

<!--      <form action="/" method="post">-->

<!--        <div class="field-wrap">-->
<!--          <label>-->
<!--            Email Address<span class="req">*</span>-->
<!--          </label>-->
<!--          <input type="email"required autocomplete="off"/>-->
<!--        </div>-->

<!--        <div class="field-wrap">-->
<!--          <label>-->
<!--            Password<span class="req">*</span>-->
<!--          </label>-->
<!--          <input type="password"required autocomplete="off"/>-->
<!--        </div>-->

<!--        <p class="forgot"><a href="#">Forgot Password?</a></p>-->

<!--&lt;!&ndash;        <button class="button button-block"/>Log In</button>&ndash;&gt;-->

<!--      </form>-->

<!--    </div>-->

<!--  </div>&lt;!&ndash; tab-content &ndash;&gt;-->

<!--</div> &lt;!&ndash; /form &ndash;&gt;-->
