<app-navbar></app-navbar>
<div class="col-md-12">
  <div class="container">

  <div class="form">
    <div class="card">
      <h6 class="m-lg-3"><b>Register</b></h6>
      <div class="card-body">
        <div class="form-group ms-5">
          <label>Handle (Name) <span style="color: red">*</span></label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <span class="text-danger"
                *ngIf="(f['name'].touched || submitted) && f['name'].errors?.['required']">
                Required
              </span>

        </div>

        <div class="form-group ms-5">
          <label>Email <span style="color: red">*</span></label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <span class="text-danger"
                *ngIf="(f['name'].touched || submitted) && f['name'].errors?.['required']">
                Required
              </span>

        </div>

        <div class="form-group ms-5">
          <label>Password <span style="color: red">*</span></label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <span class="text-danger"
                *ngIf="(f['name'].touched || submitted) && f['name'].errors?.['required']">
                Required
              </span>

        </div>

        <div class="form-group ms-5">
          <label>Role</label>
          <input
            type="text"
            formControlName="Role"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <span class="text-danger"
                *ngIf="(f['name'].touched || submitted) && f['name'].errors?.['required']">
                Required
              </span>

        </div>

        <div class="mb-3 form-group ms-5">
          <label>Town of Residence <span style="color: red">*</span></label>
          <input
            type="text"
            formControlName="town"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <span class="text-danger"
                *ngIf="(f['name'].touched || submitted) && f['name'].errors?.['required']">
                Required
              </span>
        </div>
          <button class="btn btn-dark ms-5" style="background-color: #033e3e" [routerLink]="['/web/dashboard']">Register</button>
        <div>
          <a class="mt-2 ms-5 login" [routerLink]="['/web/login']"><i>I already have an account.</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
