nav {
  background-color: #033e3e;
  font-family: "Roboto Light";
}

.app_name {
  list-style-type: none;
  color: #FDFDFD;
  padding-left: 3rem;
  font-size:18px;
  font-weight: bold;
  text-decoration: none;
}

.nav_items {
  padding-left: 10%;
}
