<div class="card h-auto dashboard_nav">
  <div class="card-body">
    <div class="mb-3 mt-2">
      <i class="fa-solid fa-arrow-right-arrow-left me-4"></i>
      <a routerLink="/web/transactions">Transactions</a>
    </div>
    <div class="mb-3">
      <i class="fa-solid fa-person me-4" style="font-size: 1.4rem"></i>
      <a class="ms-1" >Frequently Contacted</a>
    </div>
    <div class="mb-3">
      <i class="fa-solid fa-basket-shopping me-4"></i>
      <a>Buy Gaz / Gaz Bottle</a>
    </div>
    <div class="mb-3">
      <i class="fa-solid fa-eye me-4"></i>
      <a>View all gaz plug</a>
    </div>
    <div class="mb-3">
      <i class="fa-solid fa-user me-4" style="font-size: 1.2rem"></i>
      <a class="ms-1">Profile</a>
    </div>
    <div class="mt-5 logout">
      <i class="fas fa-sign-out-alt fa-fw me-4"></i>
      <a>Logout</a>
    </div>
  </div>
</div>
