<app-navbar></app-navbar>
<div class="d-flex dashboard_page">
  <div>
    <app-sidebar></app-sidebar>
  </div>
  <div class="card col-8 flex-column home_page">
    <div class="card-body d-flex align-content-between card_description">
      <div class="card col-3 card_description h-auto">
        <div class="card-body">
          <div class="mt-2">
            <div class="gaz_image">
              <img src="./assets/images/bocom.jfif" alt="">
            </div>
            <div class="d-flex mt-3 gaz_description">
              <ul>
                <li>LPG bottle</li>
                <li>10000 XAF</li>
                <li>Tarred Malingo / Buea</li>
                <li>678 030 393</li>
              </ul>
              <ul>
                <li>The Best Gaz</li>
                <li>07am - 08pm</li>
                <li>Paid Transportation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-3 card_description h-auto">
        <div class="card-body">
          <div class="mt-2">
            <div class="gaz_image">
              <img src="./assets/images/bocom.jfif" alt="">
            </div>
            <div class="d-flex mt-3 gaz_description">
              <ul>
                <li>LPG bottle</li>
                <li>10000 XAF</li>
                <li>Tarred Malingo / Buea</li>
                <li>678 030 393</li>
              </ul>
              <ul>
                <li>The Best Gaz</li>
                <li>07am - 08pm</li>
                <li>Paid Transportation</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="card col-3 card_description h-auto">
        <div class="card-body">
          <div class="mt-2">
            <div class="gaz_image">
              <img src="./assets/images/bocom.jfif" alt="">
            </div>
            <div class="d-flex mt-3 gaz_description">
              <ul>
                <li>LPG bottle</li>
                <li>10000 XAF</li>
                <li>Tarred Malingo / Buea</li>
                <li>678 030 393</li>
              </ul>
              <ul>
                <li>The Best Gaz</li>
                <li>07am - 08pm</li>
                <li>Paid Transportation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body d-flex align-content-between card_description">
      <div class="card col-3 card_description h-auto">
        <div class="card-body">
          <div class="mt-2">
            <div class="gaz_image">
              <img src="./assets/images/bocom.jfif" alt="">
            </div>
            <div class="d-flex mt-3 gaz_description">
              <ul>
                <li>LPG bottle</li>
                <li>10000 XAF</li>
                <li>Tarred Malingo / Buea</li>
                <li>678 030 393</li>
              </ul>
              <ul>
                <li>The Best Gaz</li>
                <li>07am - 08pm</li>
                <li>Paid Transportation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-3 card_description h-auto">
        <div class="card-body">
          <div class="mt-2">
            <div class="gaz_image">
              <img src="./assets/images/bocom.jfif" alt="">
            </div>
            <div class="d-flex mt-3 gaz_description">
              <ul>
                <li>LPG bottle</li>
                <li>10000 XAF</li>
                <li>Tarred Malingo / Buea</li>
                <li>678 030 393</li>
              </ul>
              <ul>
                <li>The Best Gaz</li>
                <li>07am - 08pm</li>
                <li>Paid Transportation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-3 card_description h-auto">
        <div class="card-body">
          <div class="mt-2">
            <div class="gaz_image">
              <img src="./assets/images/bocom.jfif" alt="">
            </div>
            <div class="d-flex mt-3 gaz_description">
              <ul>
                <li>LPG bottle</li>
                <li>10000 XAF</li>
                <li>Tarred Malingo / Buea</li>
                <li>678 030 393</li>
              </ul>
              <ul>
                <li>The Best Gaz</li>
                <li>07am - 08pm</li>
                <li>Paid Transportation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center sign_in_path">
  <span><a routerLink="/web/signUp" class="sign_in_link text-decoration-underline">Sign in with your town</a> and I show you gas in your town.</span>
</div>

