.dashboard_page {
  height: 50%;
  margin-top: 10%;
  color: #000000;
  gap: 10%;
  font-family: "Roboto Light";
}

.home_page {
  height: 500px;
  padding: 0% 2%;
  overflow-y: auto;
}
.card_description {
  width: 55%;
  gap: 10%;
}

.sign_in_path {
  padding-top: 5%;
  padding-bottom: 2%;
  font-family: "Roboto Light";
}
.sign_in_link {
  color: #229c9c;
}

.gaz_image {
  height: 90%;
  width: 90%;
}

.gaz_description {
  font-size: 13px;
}
